iconfont()
  font-weight: bold;
  font-size:0.25rem;

ulAndLi()
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  -webkit-padding-start: 0px
  text-align:left
  list-style: none
  font-size:0.15rem
settingLoadingPic()
  width 3.75rem
  height 0.4rem
  background-repeat no-repeat
  background-position center

settingBtn()
  width 0.6rem
  height 0.3rem
  background-color green
  border none
  color white
  float left
  margin-top 0.3rem
settingStatisticsCount()
  position absolute
  margin -0.5rem 0 0 3.1rem
  font-size 0.11rem

